tools {
    position      : absolute;
    right         : 0;
    top           : 0;
    display       : flex;
    flex-direction: column;
    z-index       : 1;
}

.tools {
    position      : relative;
    display       : flex;
    flex-direction: column;
    opacity       : 1;
    transition    : opacity 250ms ease;
}

.hidden {
    opacity: 0 !important;

    input,
    button {
        pointer-events: none;
    }
}

.tools__button {
    position : relative;
    padding  : 1rem;
    margin   : 0 1rem;
    font-size: 1.5rem;
    cursor   : pointer;
    color    : var(--white);

    div {
        position: relative;
    }

    .tools & {
        padding: 0.5rem 1rem;
    }

    &.tools__button--duplicateHorizontal div {
        transform: rotate(180deg);
    }

    &.tools__button--duplicateVertical div {
        transform: rotate(90deg);
    }

    &.tools__button--90deg {
        transform: rotate(90deg);
    }

    &.tools__button--hidden {
        opacity: 0;
        height : 0;
        padding: 0;
        cursor : auto;
    }
}

.tools__button--toggleTools {
    color     : var(--white);
    text-align: center;
}

.submenu {
    position  : relative;
    right     : calc(~'100% + 1rem');
    top       : .8rem;
    opacity   : 1;
    transition: opacity 250ms ease;

    input {
        position        : absolute;
        background-color: var(--white);
        appearance      : auto;
    }
}

.repetitions__link {
    width : 1rem;
    height: 1rem;
    top   : 0;
    right : -1rem;
}

.repetitions__x,
.lineWidth,
.lineLength {
    right: 1rem;
    top  : 0;
}

.repetitions__y {
    transform       : rotate(-90deg);
    transform-origin: top right;
    top             : 2rem;
    right           : 0;
}

.colorInput {
    position: absolute;
    inset   : 0;
    opacity : 0;
}
