.tools {
    position       : absolute;
    right          : 0;
    top            : 0;
    display        : flex;
    justify-content: flex-end;
    z-index        : 1;
}

.tools__button {
    padding  : 1rem;
    margin   : 0 1rem;
    font-size: 1.5rem;
    cursor   : pointer;
}
